<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sec.android.app.camera" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.MANAGE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE">
        <group gid="media_rw"/>
    </uses-permission>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"/>
    <uses-permission android:name="com.samsung.helphub.permission.HELP"/>
    <uses-permission android:name="com.samsung.helphub.permission.ADVERTISE_HELP_PAGE"/>
    <uses-permission android:name="com.samsung.android.provider.filterprovider.permission.READ_FILTER"/>
    <uses-permission android:name="com.samsung.android.provider.filterprovider.permission.WRITE_FILTER"/>
    <uses-permission android:name="com.samsung.android.provider.shootingmodeprovider.permission.READ_SHOOTINGMODE"/>
    <uses-permission android:name="com.samsung.android.provider.shootingmodeprovider.permission.WRITE_SHOOTINGMODE"/>
    <uses-permission android:name="com.samsung.android.provider.shootingmodeprovider.permission.RECEIVE_UPDATE"/>
    <uses-permission android:name="com.samsung.android.provider.stickerprovider.permission.READ_STICKER_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.provider.stickerprovider.permission.WRITE_STICKER_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.permission.SSRM_NOTIFICATION_PERMISSION"/>
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>
    <uses-permission android:name="com.sec.android.app.voicenote.Controller"/>
    <uses-permission android:name="com.samsung.android.app.assistantmenu.permission.ADVERTISE_ASSISTANTMENU"/>
    <uses-permission android:name="com.samsung.permission.SSENSOR"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.sec.enterprise.knox.MDM_CONTENT_PROVIDER"/>
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.sec.android.daemonapp.ap.accuweather.ACCUWEATHER_DAEMON_ACCESS_PROVIDER"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.sec.android.app.filtermanager.permission.EXPORTED"/>
    <uses-permission android:name="com.sec.android.settings.permission.SOFT_RESET"/>
    <uses-permission android:name="com.samsung.permission.HRM_EXT"/>
    <uses-permission android:name="com.sec.android.app.apex.permission.ACCESS_APEX_SERVICE"/>
    <uses-permission android:name="com.samsung.android.permisson.DOUBLE_CLICK"/>
    <uses-permission android:name="com.samsung.android.app.qragent.QRSERVICE_PERMISSION"/>
    <uses-permission android:name="com.samsung.cmh.data.READ"/>
    <uses-permission android:name="com.sec.spp.permission.TOKEN_995c646f7bcc2b7a0c9c4b92bbba541bd837d56c2ac3eb8b465f2faf8ca0596b9363a768e0d73340c055b9ad332b4dd1e167912add627fec17e1ed8e354f264dd3e5d773506336ca4f6d4a0deaa296d852b43e629cfd00c329c5ed38d2e1f199bf02f32774b04449b69109ae3a9104569780cfd4c42f1396e515dd49d31a94af"/>
    <uses-permission android:name="com.samsung.android.bixby.agent.permission.RECEIVE_BIXBY_VIEW_STATE"/>
    <permission android:name="com.sec.android.app.camera.permission.READ_IMAGE_VIDEO_INFO" android:protectionLevel="signature"/>
    <permission android:description="@string/permission_shooting_mode_descr" android:label="@string/permission_shooting_mode" android:name="com.sec.android.app.camera.permission.SHOOTING_MODE" android:protectionLevel="normal"/>
    <supports-screens android:anyDensity="true" android:normalScreens="true"/>
    <application android:allowBackup="false" android:icon="@mipmap/tw30_icon_camera" android:label="@string/app_name" android:largeHeap="true" android:name="com.sec.android.app.camera.CameraApplication" android:resizeableActivity="true" android:supportsRtl="true">
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data android:name="com.sec.android.sdk.cover.MODE" android:value="2"/>
        <meta-data android:name="com.samsung.android.icon_container.has_icon_container" android:value="true"/>
        <meta-data android:name="com.samsung.android.bixby.pathRuleAppName" android:value="Camera"/>
        <receiver android:name="com.sec.android.app.camera.receiver.CameraButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.android.app.camera.receiver.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.sec.android.app.camera.receiver.SettingSoftResetReceiver" android:permission="com.sec.android.settings.permission.SOFT_RESET">
            <intent-filter>
                <action android:name="com.samsung.intent.action.SETTINGS_SOFT_RESET"/>
            </intent-filter>
        </receiver>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|mcc|mnc|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:icon="@mipmap/tw30_icon_camera" android:label="@string/camera_label" android:launchMode="standard" android:name="com.sec.android.app.camera.Camera" android:screenOrientation="locked" android:taskAffinity="android.task.camera" android:theme="@style/CustomTheme">
            <layout android:defaultHeight="@dimen/knox_desktop_window_height" android:defaultWidth="@dimen/knox_desktop_window_width" android:minHeight="@dimen/window_min_height" android:minWidth="@dimen/window_min_width"/>
            <meta-data android:name="assistant" android:resource="@xml/assistant"/>
            <meta-data android:name="com.samsung.android.startingwindow.LAYOUT_RESID" android:resource="@layout/starting_window_layout"/>
            <meta-data android:name="com.samsung.android.startingwindow.REVERSE_LAYOUT_RESID" android:resource="@layout/starting_window_reverse_layout"/>
            <meta-data android:name="com.samsung.android.rotation.animation.disable" android:value="true"/>
            <meta-data android:name="com.samsung.android.startingwindow.fixedorientation" android:value="true"/>
            <intent-filter android:label="@string/camera_label">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:label="@string/camera_label">
                <action android:name="android.media.action.IMAGE_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/camera_label">
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.samsung.android.support.executable"/>
            </intent-filter>
            <meta-data android:name="com.android.keyguard.layout" android:resource="@layout/starting_window_layout"/>
            <meta-data android:name="com.android.keyguard.mobilekeyboard.layout" android:resource="@layout/starting_window_keyboard_cover_layout"/>
        </activity>
        <activity-alias android:icon="@drawable/ic_launcher_camera_record" android:label="@string/camcorder_label" android:name="com.sec.android.app.camera.Camcorder" android:targetActivity="com.sec.android.app.camera.Camera">
            <intent-filter android:label="@string/camcorder_label">
                <action android:name="android.media.action.VIDEO_CAMERA"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/camcorder_label">
                <action android:name="android.media.action.VIDEO_CAPTURE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboardHidden|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.sec.android.app.camera.DummyActivity" android:theme="@style/CustomTheme"/>
        <activity android:configChanges="keyboardHidden|screenSize|uiMode" android:excludeFromRecents="true" android:label="" android:name="com.sec.android.app.camera.SettingReceiverActivity" android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="com.sec.android.intent.action.SEC_APPLICATION_SETTINGS"/>
                <category android:name="com.sec.android.intent.category.SEC_APPLICATION_SETTINGS"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize|uiMode" android:exported="false" android:label="" android:name="com.sec.android.app.camera.AttachActivity" android:theme="@style/Activity.WithActionBar.FullScreen"/>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize|uiMode" android:finishOnTaskLaunch="true" android:label="@string/settings" android:name="com.sec.android.app.camera.setting.CameraSettingActivity" android:parentActivityName="com.sec.android.app.camera.Camera" android:theme="@android:style/Theme.DeviceDefault.Light"/>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize|uiMode" android:exported="false" android:finishOnTaskLaunch="true" android:label="" android:name="com.sec.android.app.camera.RequestPermissionActivity" android:theme="@style/CustomTheme"/>
        <activity android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|uiMode" android:exported="false" android:finishOnTaskLaunch="true" android:label="" android:name="com.sec.android.app.camera.WatermarkTextInputActivity" android:parentActivityName="com.sec.android.app.camera.Camera" android:theme="@android:style/Theme.DeviceDefault.Light" android:windowSoftInputMode="adjustResize"/>
        <service android:name="com.samsung.android.glview.AccessibilityGestureHandler" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/talkbackconfig"/>
        </service>
        <uses-library android:name="semcamera"/>
        <uses-library android:name="semextendedformat"/>
        <uses-library android:name="secimaging"/>
        <meta-data android:name="com.samsung.android.support.executable" android:resource="@xml/executable"/>
        <meta-data android:name="help_page" android:resource="@xml/help_list"/>
        <meta-data android:name="help_explicit_db_name" android:value="help_supported_1_camera"/>
        <activity android:label="@string/help_taking_pictures" android:name="com.sec.android.app.camera.help.TakePictureActivity" android:theme="@style/HelpPage.WithActionBar">
            <intent-filter>
                <action android:name="com.sec.android.app.camera.help.TakePictureActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/help_recording_videos" android:name="com.sec.android.app.camera.help.RecordVideoActivity" android:theme="@style/HelpPage.WithActionBar">
            <intent-filter>
                <action android:name="com.sec.android.app.camera.help.RecordVideoActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/help_viewing_pictures_and_videos" android:name="com.sec.android.app.camera.help.ViewingPicsAndVideosActivity" android:theme="@style/HelpPage.WithActionBar">
            <intent-filter>
                <action android:name="com.sec.android.app.camera.help.ViewingPicsAndVideosActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/help_changing_the_camera_mode" android:name="com.sec.android.app.camera.help.ChangeModeActivity" android:theme="@style/HelpPage.WithActionBar">
            <intent-filter>
                <action android:name="com.sec.android.app.camera.help.ChangeModeActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:enabled="false" android:exported="true" android:name="com.samsung.android.sdk.bixby.BixbyAppService" android:permission="com.samsung.android.bixby.agent.permission.APP_SERVICE">
            <intent-filter>
                <action android:name="com.samsung.android.sdk.bixby.APP_SERVICE"/>
            </intent-filter>
        </service>
        <meta-data android:name="SPDE.build.signature" android:value="3859797/12657514/SEP81-release/SamsungCamera-701100-7.0.75"/>
        <meta-data android:name="SPDE.env.version" android:value="2.2.3/L24.3.7/24.3.3"/>
    </application>
</manifest>
